/*Style for Atoms to Astronauts Website*/

/*Built in elements*/
a {
  text-decoration: none; 
  color: #000; 
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px; 
}
.a-link-unique {
  text-decoration: underline; 
}
body {
  background-color: #e0ffe7;
  font-family: Verdana, Geneva, sans-serif; 
  margin-left: 200px; 
  margin-right: 200px; 
  }

.button {
  background-color:  #e8e8e8;
  border: none; 
  border-radius: 10px; 
  height: 40px; 
  min-width: 100px; 
  margin: 20px; 
  padding: 10px; 
  font-size: 17px; 
}

.button:hover {
  background-color:  #cecece;
}

.button-centered {
  background-color:  #e8e8e8;
  border: none; 
  border-radius: 10px; 
  height: 40px; 
  min-width: 100px; 
  padding: 10px; 
  font-size: 17px; 
  display: block; 
  margin: 20px auto; 
}

.button-centered:hover {
  background-color:  #cecece;
}

.centered-image img {
  width: 250px; 
  height: 250px;
  display: block;
  margin: 50px auto; 
}

.centered-image-nonsquare img {
  width: 250px; 
  height: 300px;
  display: block;
  margin: 50px auto;
  padding: 50px;  
}

footer {
  position: absolute; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  margin-left: 200px; 
  margin-right: 200px; 
  margin-top: 50px; 
  background-color: #46cead;
  padding: 20px; 
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end;  
}

h1 {
    font-size: 35px; 
    color: #000; 
    text-align: center;
}

h2 {
  font-size: 20px; 
  font-weight: 104px; 
  text-align: center; 
}

h3 {
  text-align: center; 
  color: #424953; 
}

hr {
    background-color: #46cead;
    color: #46cead;
    padding: 0;
    height: 2px; 
}

html{
  background-color:  #e8e8e8;
}

.logo img {
  width: 250px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

object {
  height: 800px; 
  width: 1000px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

p {
  padding-left: 100px;
  padding-right: 100px; 
}

.p-center {
  text-align: center; 
  padding-left: 250px;
  padding-right: 250px;
}

.star-divider img {
  display: block; 
  margin: 30px auto; 
  width: 200px; 
  height: 170px; 
}

.stars img {
  float: right; 
  width: 100px; 
  height: 100px; 
}

textarea {
  width: 500px; 
  height: 250px; 
  font-family: Verdana, Geneva, sans-serif; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.top-email{
  float: right;
  margin-top: 70px;
  margin-right: 5px;    
}

/*Top Navigation*/
.navbar {
    overflow: hidden;
    background-color: #46cead;
    
  }
  
  /* Links inside the nav*/
  .navbar a {
    float: left;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }
  
  /* Dropdown Links */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #41be9f;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #41be9f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #42c2a3;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }